#A {
    border:dotted;
    border-width:3px;
    border-color:lime;
    text-shadow:20px 12px 2px #ff0000;
}
#B{
    border:dotted;
    border-width:3px;
    border-color:lime;
    text-shadow:20px 12px 2px #ff0000;
}
#C{
    border:dotted;
    border-width:3px;
    border-color:lime;
    text-shadow:20px 12px 2px #ff0000;
}
#D{
    border:dotted;
    border-width:3px;
    border-color:lime;
    text-shadow:20px 12px 2px #ff0000;
}
#E{
    border:dotted;
    border-width:3px;
    border-color:lime;
    text-shadow:20px 12px 2px #ff0000;
}
#F{
    border:dotted;
    border-width:3px;
    border-color:lime;
    text-shadow:20px 12px 2px #ff0000;
}
#G{
    border:dotted;
    border-width:3px;
    border-color:lime;
    text-shadow:20px 12px 2px #ff0000;
}
#H{
    border:dotted;
    border-width:3px;
    border-color:lime;
    text-shadow:20px 12px 2px #ff0000;
}
#I{
    border:dotted;
    border-width:3px;
    border-color:lime;
    text-shadow:20px 12px 2px #ff0000;
}
#L{
    border:dotted;
    border-width:3px;
    border-color:lime;
    text-shadow:20px 12px 2px #ff0000;
}
#M{
    border:dotted;
    border-width:3px;
    border-color:lime;
        text-shadow:20px 12px 2px #ff0000;
}
#N{
    border:dotted;
    border-width:3px;
    border-color:lime;
    text-shadow:20px 12px 2px #ff0000;
}
#O{
    border:dotted;
    border-width:3px;
    border-color:lime;
    text-shadow:20px 12px 2px #ff0000;
}
#P{
    border:dotted;
    border-width:3px;
    border-color:lime;
    text-shadow:20px 12px 2px #ff0000;
}
#Q{
    border:dotted;
    border-width:3px;
    border-color:lime;
    text-shadow:20px 12px 2px #ff0000;
}
#R{
    border:dotted;
    border-width:3px;
    border-color:lime;
    text-shadow:20px 12px 2px #ff0000;
}
#S{
    border:dotted;
    border-width:3px;
    border-color:lime;
    text-shadow:20px 12px 2px #ff0000;
}
#T{
    border:dotted;
    border-width:3px;
    border-color:lime;
    text-shadow:20px 12px 2px #ff0000;
}
#V{
    border:dotted;
    border-width:3px;
    border-color:lime;
    text-shadow:20px 12px 2px #ff0000;
}
#W{
    border:dotted;
    border-width:3px;
    border-color:lime;
    text-shadow:20px 12px 2px #ff0000;
}
#X{
    border:dotted;
    border-width:3px;
    border-color:lime;
    text-shadow:20px 12px 2px #ff0000;
}
h1{
    border:dashed;
    border-width:3px;
    border-color:lime;
   
}
h2{
    border:solid;
    border-width:3px;
    border-color:lime;
   
}